.login {
  .login_left {
    background-image: url(https://imagizer.imageshack.com/img922/4571/IFpSNv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }

  .login_form {
    input {
      background: transparent;
      border-bottom: 1px solid #ced4da;
      width: 100%;
      height: 44px;
      padding: 12px 20px;
      font-size: 14px;
    }
  }
}
